@charset 'utf-8';

/**
** 컴포넌트
** - 폼, 셀렉트, 체크박스, 라디오, 텍스트, 플레이스홀더, datepicker
**/

$color-line-form-base: #d3d3d3;

$height-form-base: 40px;
// $height-form-sm: 34px;
// $height-form-lg: 45px;

$font-size-form-base: 14px;
// $font-size-form-sm: 13px;
// $font-size-form-lg: 17px;

$font-height-form-base: $height-form-base;
// $font-height-form-sm: $height-form-sm;
// $font-height-form-lg: $height-form-lg;

$color-form-base: $color-text-base;

/// 개발 히든영역
.mm_form-hidden {
	overflow: hidden;
	position: absolute;
	z-index: -1;
	padding: 0;
	width: 0;
	height: 0;
	@include opacity(0, none);
}
///-- 개발 히든영역

/// 텍스트
.mm_form-text {
	$width-form-clear: $height-form-base - 6px;

	position: relative;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링 제대로 되지 않을 때 적용
	@include transform(translate3d(0, 0, 0));

	&.__text-on {
		.btn_text-clear {
			display: block;
		}

		.text_placeholder {
			z-index: -1;
			@include opacity(0);
		}
	}

	// 요소가 disabled, checked 일 때
	&.__text-off {
		&[class*='_calendar_'] {
			.btn_text-clear {// 데이트픽커 선택 시 x버튼 노출
				display: block;
			}
		}

		.text_placeholder {
			z-index: -1;
		}
	}

	// pc에서 textarea 오른쪽 스크롤바 노출로 패딩 변경
	// 새로고침 시 textarea 높이값이 덜컥거려서 __pc 제거
	// .__pc & {
		&[class*="_area_"] {
			.btn_text-clear {
				right: 15px;

				+ label textarea.textfield,
				+ .text_alert + label textarea.textfield {
					padding-right: $width-form-clear - 4px + 15px;
				}
			}

			label {
				padding: 0;

				textarea.textfield {
					overflow-y: scroll;

					+ .bg_text + .text_placeholder {
						right: 15px;
					}
				}
			}
		}
	// }

	&[class*="_full_"] {
		width: 100%;
	}

	// 단위조합(~개, ~일 등)
	&[class*="_measure_"] {
		padding-right: 39px;
		width: 200px;

		&[class*="_short_"] {
			width: 100px;
		}

		.btn_text-clear {
			right: 39px;
		}

		label {
			.textfield {
				text-align: right;
				letter-spacing: 0;
			}
		}

		.text_measure {
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: $height-form-base;
			border: 1px solid $color-line-form-base;
			// border-left: 0;
			background: #fff;
			color: $color-form-base;
			font-size: $font-size-form-base;
			line-height: $height-form-base - 2px;
			text-align: center;
		}
	}

	// 데이트픽커 아이콘
	&[class*="_calendar_"] {
		.btn_text-clear {
			right: 40px;

			+ label,
			+ .text_alert + label {
				.textfield:not(:disabled):not([readonly]) {
					padding-right: $width-form-clear - 4px + 40px;
				}
			}
		}
	}

	.mco_datepicker-calendar {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 39px;
		height: 100%;
		border-left: 1px solid $color-line-form-base;
		background: #fff;
		color: #b1b1b1;
		font-size: 16px;
		line-height: 37px;
		text-align: center;
		cursor: pointer;
	}

	.btn_text-clear {
		display: none;
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 0;
		margin-top: -$height-form-base / 2;
		width: $width-form-clear;
		height: $height-form-base;
		color: #b9b9b9;
		font-size: 14px;
		line-height: $height-form-base;
		text-align: center;

		+ label,
		+ .text_alert + label {
			.textfield:not(:disabled):not([readonly]) {
				padding-right: $width-form-clear - 4px;
			}
		}
	}

	.btn_text-pw {
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 0;
		margin-top: -$height-form-base / 2;
		width: $height-form-base + 2px;
		height: $height-form-base;
		color: #b9b9b9;
		font-size: 20px;
		line-height: $height-form-base;
		text-align: center;

		+ label {
			.textfield {
				padding-right: $height-form-base + 2px;
			}
		}
	}

	label {
		display: block;
		// overflow: hidden;
		position: relative;
		padding: 9px 0;
		border: 1px solid $color-line-form-base;
		color: $color-form-base;
		font-size: $font-size-form-base;
		text-align: left;

		.textfield {
			position: relative;
			z-index: 1;
			padding: 0 8px;
			width: 100%;
			height: 20px;
			border: 0;
			background: transparent;
			cursor: text;

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {// webkit 브라우저 자동완성
				-webkit-text-fill-color: inherit !important;
				transition: background-color 99999s 0s;
			}

			&[type="password"] {
				font-size: 20px;
				letter-spacing: 4px;
				font-family: $font-family-password;
			}

			&[readonly]:not(.__datepicker-on) {
				+ .bg_text {
					background: #ebebeb;
				}
			}

			&:disabled {
				color: #959595;

				+ .bg_text {
					background: #d3d3d3;
				}

				+ .text_placeholder,
				+ .bg_text + .text_placeholder {
					color: #959595;
				}
			}

			@include context-unify('textarea') {
				$font-height-form-textarea: $font-size-form-base + 4px;

				padding: 10px 8px;
				// height: auto;
				height: ($font-height-form-textarea * 5) + (10px * 2);// (line-height * 줄 수) + (padding-top + padding-bottom);
				line-height: $font-height-form-textarea;

				// ios에서 가로 padding 3px 줄여 적용
				.__ios & {
					padding-left: 5px;
				}

				+ .bg_text + .text_placeholder {
					padding: 10px 8px;
					line-height: $font-height-form-textarea;
					white-space: normal;
				}
			}

			&.text_date {
				line-height: 20px;
				white-space: nowrap;

				+ input[type="date"],
				+ input[type="month"],
				+ input[type="time"] {
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					@include opacity(0);
				}
			}
		}

		.bg_text {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: #fff;
		}

		.text_placeholder {
			display: block;
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			padding: 0 8px;
			color: #808080;
			line-height: $font-height-form-base - 2px;
			white-space: nowrap;
			cursor: text;

			small {
				display: inline-block;
				vertical-align: 0;
				font-size: 11px;
			}

			// strong {
			// 	color: #202020;
			// }
		}

		.text_label {
			position: absolute;
			top: 0;
			left: 0;
			line-height: $font-height-form-base - 2px;
			white-space: nowrap;
			cursor: text;
		}
	}

	.text_byte {
		// position: absolute;
		// top: -18px;
		// right: 0;
		// color: #959595;
		// font-size: 12px;
		// letter-spacing: 0;
	}
}
///-- 텍스트

/// 셀렉트
.mm_form-select {
	position: relative;
	width: 252px;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링 제대로 되지 않을 때 적용
	@include transform(translate3d(0, 0, 0));

	&[class*="_short_"] {
		width: 120px;
	}

	&[class*="_full_"] {
		width: 100%;
	}

	label {
		display: block;
		overflow: hidden;
		position: relative;
		height: $height-form-base;
		border: 1px solid $color-line-form-base;
		background: #fff;
		font-size: 0;

		select {
			position: relative;
			z-index: 1;
			padding: 0 30px 0 8px;
			width: 100%;
			height: 100%;
			border: 0;
			background: transparent;
			color: $color-form-base;
			font-size: $font-size-form-base;
			line-height: $font-height-form-base - 2px;
			@include prefix(appearance, none, webkit moz);

			&::-ms-expand {
				display: none;
			}

			&:focus,
			&:active {
				padding-right: 0;
			}

			// 비활성
			&:disabled {
				background: #d3d3d3;
				color: #959595;
			}
		}

		.mco_form-select {
			position: absolute;
			z-index: 2;
			top: 13px;
			right: 15px;
			color: #b1b1b1;
			font-size: 12px;
			pointer-events: none;
		}
	}
}
///-- 셀렉트

/// 체크박스
.mm_form-check {
	$height-form-check: 24px;

	position: relative;
	height: $height-form-check;
	font-size: 0;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링 제대로 되지 않을 때 적용
	@include transform(translate3d(0, 0, 0));

	[type="checkbox"] {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		@include opacity(0);
	}

	img {
		@include prefix(pointer-events, none, ms);
	}

	.text_label {
		display: inline-block;
		color: $color-form-base;
		font-size: 14px;
		line-height: $height-form-check;

		+ .mco_form-check {
			margin-left: 8px;
		}
	}

	.mco_form-check {
		position: relative;
		width: $height-form-check;
		height: $height-form-check;
		border: 2px solid #b9b9b9;
		background: #fff;
		color: $color-secondary-base;
		font-size: 26px;
		text-align: center;
		cursor: pointer;
		line-height: $height-form-check - 4px;

		&:before {
			display: none;
			position: absolute;
			top: -4px;
			left: 3px;
		}

		+ .text_label {
			margin-left: 8px;
		}
	}

	:checked + .mm_box-block {
		.mco_form-check {
			&:before {
				display: block;
			}

			@include context-after(':disabled', ':checked') {
				color: #999;
			}
		}
	}
}
///-- 체크박스

/// 라디오
.mm_form-radio {
	$height-form-radio: 24px;

	position: relative;
	height: $height-form-radio;
	font-size: 0;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링 제대로 되지 않을 때 적용
	@include transform(translate3d(0, 0, 0));

	[type="radio"] {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		@include opacity(0);
	}

	img {
		@include prefix(pointer-events, none, ms);
	}

	.text_label {
		display: inline-block;
		color: $color-form-base;
		font-size: 14px;
		line-height: $height-form-radio;

		+ .mco_form-radio {
			margin-left: 8px;
		}
	}

	.mco_form-radio {
		position: relative;
		width: $height-form-radio;
		height: $height-form-radio;
		border: 6px solid #d3d3d3;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;

		+ .text_label {
			margin-left: 8px;
		}
	}

	:checked + .mm_box-block {
		.mco_form-radio {
			border-color: $color-secondary-base;

			@include context-after(':disabled', ':checked') {
				border-color: #999;
			}
		}
	}
}
///-- 라디오

/// 파일(일반)
.mm_form-file {
	$width-form-clear: $height-form-base - 6px;

	position: relative;
	width: 590px;
	font-size: 0;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링 제대로 되지 않을 때 적용
	@include transform(translate3d(0, 0, 0));

	input[type="file"] {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		@include opacity(0);
	}

	// 파일 선택
	&.__file-on {
		.btn_remove {
			display: block;
		}
	}

	.btn_remove {
		display: none;
		position: absolute;
		z-index: 2;
		top: 50%;
		right: 110px;
		margin-top: -$height-form-base / 2;
		width: $width-form-clear;
		height: $height-form-base;
		color: #b9b9b9;
		font-size: 14px;
		line-height: $height-form-base;
		text-align: center;

		+ label {
			.text_path {
				padding-right: $width-form-clear - 4px;
			}
		}
	}

	label {
		display: block;
		position: relative;
		padding-right: 110px;

		.text_path {
			display: block;
			padding: 0 8px;
			height: $height-form-base;
			border: 1px solid $color-line-form-base;
			color: $color-form-base;
			font-size: $font-size-form-base;
			line-height: $height-form-base - 3px;
			@include text-ellipsis(1);
			cursor: text;
		}

		.text_file.mm_btn {
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			cursor: pointer;
		}
	}
}
///-- 파일(일반)

/// 파일(이미지)
.mm_form-image {
	position: relative;
	width: 164px;
	font-size: 0;
	// 상위 요소에서 -webkit-overflow-scrolling: touch, overflow: auto 사용할 때 스크롤 후 폼요소 렌더링 제대로 되지 않을 때 적용
	@include transform(translate3d(0, 0, 0));

	input[type="file"] {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		@include opacity(0);
	}

	// 파일 선택
	&.__image-on {
		.btn_remove {
			display: block;
		}

		label {
			background: #fff;
		}

		.mm_form-image-box {
			display: none;
		}

		.mm_form-image-preview {
			display: block;

			&.mm_image-none {
				@include fluid-media(52.44%);
			}
		}
	}

	.btn_remove {
		$height-btn-remove: 20px;

		display: none;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: $height-btn-remove;
		height: $height-btn-remove;
		background: #666;
		color: #fff;
		font-size: 19px;
		line-height: $height-btn-remove + 2px;
		text-align: center;
	}

	label {
		display: block;
		position: relative;
		border: 1px dashed $color-line-form-base;
		cursor: pointer;
	}

	&-box {
		display: block;
		// background: #ebebeb;
		text-align: center;
		@include fluid-media(52.44%);

		> * {
			// position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			// @include transform(translate(-50%, -50%));
		}

		.mco_add {
			// color: #e2e2e2;
			// font-size: 34px;
		}

		.mco_image {
			// color: #e2e2e2;
			// font-size: 21px;
		}

		.text_file {
			margin: -20px 0 0 -53px;
			width: 106px;
			// color: $color-text-base;
			// font-size: $font-size-form-base;
		}

		.text_label {
			left: 0;
			margin-top: -5px;
			width: 100%;
			height: 11px;
			color: #808080;
			font-size: 11px;
		}
	}

	&-preview {
		display: none;

		.image_file {
			@include context-unify('img') {
				//
			}

			@include context-unify('i') {
				background-position: 50% 0;
			}
		}

		.text_file {
			//
		}
	}
}
///-- 파일(이미지)

/// 컬러픽커
.mm_form-color {
	$height-form-color: 24px;

	display: inline-block;
	position: relative;
	padding: ($height-form-base - $height-form-color) / 2 0;

	.btn_picker {
		position: relative;
		top: 50%;
		padding: 1px;
		margin-top: -$height-form-color / 2;
		width: $height-form-color;
		height: $height-form-color;
		border: 1px solid #6e6e6e;
		background: #fff;

		&:after {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 8px;
			height: 8px;
			border: 1px solid #fff;
			border-radius: 2px;
			background: #6e6e6e;
			content: "";
		}

		.bg_color {
			width: 100%;
			height: 100%;
			background: #000;// 기본 색상
		}
	}

	[type="text"].colorfield {
		margin: -8px 0 -8px 32px;
		width: 60px;
		height: 40px;
		border: 0;
		font-size: 14px;
		font-family: $font-family-latin;

		+ .btn_picker {
			position: absolute;
			left: 0;

			+ .mm_colorpicker {
				margin-left: -68px;
			}
		}
	}
}
.mm_colorpicker {
	$height-form-color: 20px;
	$padding-form-color: 6px;
	$color-picker-primary: #059b9f;

	position: absolute;
	z-index: $index-most;
	top: 50%;
	left: 100%;
	width: $height-form-color * 18 + ($padding-form-color * 2);
	@include transform(translateY(-50%));

	/// 인라인
	// &.__colorpicker-inline {
	// 	position: relative;
	// 	z-index: auto;
	// 	top: auto;
	// 	left: auto;
	// 	@include transform(translateY(0));
	// }

	&-list {
		padding: $padding-form-color;
		background: $color-picker-primary;

		> ul {
			&:nth-child(n+2) {
				margin-top: $padding-form-color;
			}

			> li {
				float: left;

				&:nth-child(18n+1) {
					clear: both;
				}

				.btn_color-select {
					width: $height-form-color;
					height: $height-form-color;

					.mco_colorpicker-check {
						width: 100%;
						height: 100%;
						border: 2px solid #6e6e6e;

						&:before {
							color: #6e6e6e;
							font-size: 14px;
							line-height: 16px;
						}

						@include context-after('.__check-white', '.btn_color-select') {
							border-color: #fff;

							&:before {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	&-foot {
		padding: $padding-form-color * 2 $padding-form-color;
		background: shade($color-picker-primary, 10%);
		@include clearfix;

		.mm_form-text {
			float: left;
			width: 140px;

			label {
				padding: 7px 0 5px;
				border-color: #fff;

				.textfield {
					font-size: 16px;
					font-family: $font-family-latin;
				}

				.text_placeholder {
					line-height: 32px;
				}
			}
		}

		.mm_btngroup {
			float: right;

			> * {
				float: left;
				margin-left: 6px;
				width: 90px;
				height: 34px;
				font-size: 14px;
				line-height: 32px;
			}

			.btn_color-cancel {
				background: #6e6e6e;
				color: #fff;
			}

			.btn_color-submit {
				background: #f4e124;
				color: #202020;
			}
		}
	}
}
///-- 컬러픽커

/// 수량
.mm_qty {
	display: inline-block;
	position: relative;
	padding: 0 31px;

	.mm_form-text {
		width: 50px;

		label {
			padding: 4px 0 6px;
			border-color: #cbcbcb;
			color: #777;
			font-size: 14px;

			.textfield {
				padding: 0;
				height: 20px;
				line-height: 20px;
				text-align: center;
			}
		}
	}

	button {
		position: absolute;
		top: 0;
		width: 32px;
		height: 32px;
		border: 1px solid #cbcbcb;
		color: #8d8d8d;
		font-size: 18px;
		line-height: 30px;

		&.btn_qty-subtract {
			left: 0;
		}

		&.btn_qty-add {
			right: 0;
		}

		&:disabled {
			color: #d3d3d3;
		}
	}
}
///-- 수량

/// 폼 캡슐형
.mm_form-capsule {
	// @include flex-container();
	//
	// dt {
	// 	margin-right: -1px;
	// 	padding: 9px 0 0 9px;
	// 	width: 106px;
	// 	border: 1px solid #d3d3d3;
	// 	border-radius: 4px;
	// 	background: #f5f5f5;
	// 	color: #424242;
	// 	font-size: 15px;
	// 	line-height: 19px;
	// }
	//
	// dd {
	// 	@include prefix(flex, 1, webkit ms);
	// }
}
///-- 폼 캡슐형

/// 오류 텍스트
.text_alert {
	display: block;
	position: absolute;
	z-index: 2;// $index-alert;
	top: 0;
	left: 0;
	// margin-top: -2px;
	padding: 9px 10px 10px 32px;
	min-width: 100%;
	min-height: 100%;
	border: 1px solid $color-negative-base;
	// background: #fff;
	background: $color-negative-light;
	color: $color-negative-base;
	font-size: $font-size-form-base;
	line-height: $font-size-form-base + 4px;
	text-indent: 0;
	white-space: nowrap;
	// @include transform(translateY(-100%));

	// &:before {
	// 	position: absolute;
	// 	left: 10px;
	// 	bottom: -6px;
	// 	@include triangle($color-negative-base, bottom, 6px);
	// 	content: "";
	// }
	//
	// &:after {
	// 	position: absolute;
	// 	left: 10px;
	// 	bottom: -5px;
	// 	@include triangle(#fff, bottom, 6px);
	// 	content: "";
	// }

	.mco_form-alert {
		position: absolute;
		top: 10px;
		left: 10px;
		color: $color-negative-base;
		font-size: 17px;
	}

	+ label {
		border-color: $color-negative-base;

		&,
		.bg_text {
			background: $color-negative-light;
		}
	}
}
///-- 오류 텍스트

/// 에디터
.mm_editor {
	[class*="mm_formbox-"] + & {
		margin-top: 16px;
	}
}
///-- 에디터
