@charset 'utf-8';

/**
** 그리드
**/

html,
body {
	overflow: hidden;
	// overflow-y: scroll;// pc 스크롤바 기본 삽입
	width: 100%;
	min-width: $min-width-pc;// $min-width-mobile;
	height: 100%;
	background: #fff;
}

html {
	overflow-x: auto;// 세로스크롤은 스크립트로 적용
	color: $color-text-base;
	font-weight: normal;
	font-size: $font-size-base;
	font-family: $font-family-base;
	line-height: 1;
	letter-spacing: -0.5px;
	@include prefix(text-size-adjust, none, webkit ms);
	// -webkit-tap-highlight-color: rgba(0,0,0,0);
	
	// 폰트 로드 후 적용
	&.wf-active {
		// font-family: $font-family-base;
	}
}

body {
	-webkit-overflow-scrolling: touch;

	// 스크롤 안됨
	.__popup &,
	.__modal &,
	.__bom &,
	.__noscroll & {
		// position: fixed;// fixed 사용 시 안드로이드 4에서 오류
	}
}

/// 스킵 네비게이션
.mm_skip {
	position: absolute;
	z-index: $index-skip;
	top: 0;
	left: 0;
	font-size: 0;
	line-height: 1;

	a:focus {
		padding: 10px;
		background: $color-primary-light;
		color: #fff;
		font-weight: 700;
		font-size: 12px;
	}
}
///-- 스킵 네비게이션

/// 전체 영역
.mm_app {
	height: 100%;
}
///-- 전체 영역

/// 기본 화면
.mm_view {
	position: relative;
	padding-top: $height-header-base;
	height: 100%;
	
	// 사이드바 있음
	.mm_sidebar + & {
		margin-left: $width-sidebar-min;
	}
	
	/* mobile ~
	height: 100%;
	@include transform(translateX(0));
	@include transition(transform $time-fast);
	
	// 사이드바 열림
	@include context-first('.__side') {
		@include transform(translateX(80%));
		@include transition(transform $time-base $time-faster);
	}
	~ mobile */
}
///-- 기본 화면

/// 페이지
.mm_page {
	position: relative;
	height: 100%;
	
	/* mobile ~
	padding: $height-header-base 0 $height-toolbar-base;
	height: 100%;
	
	// 헤더 숨김
	.__view-header-hide & {
		padding-top: 0;

		> .mm_loading {
			top: 0;
		}
	}

	// 헤더 서브
	.__view-header-sub & {
		padding-top: $height-header-sub;

		> .mm_loading {
			top: $height-header-sub;
		}

		.__expand & {
			padding-top: 0;

			> .mm_loading {
				top: 0;
			}
		}

		@include context-first('.__view-header-hide') {
			padding-top: 0;

			> .mm_loading {
				top: 0;
			}
		}
	}

	// 화면 확장 (헤더/툴바 숨김)
	.__expand & {
		padding-top: $height-header-min;

		> .mm_loading {
			top: $height-header-min;
		}
	}

	// 툴바 숨김
	.__focus &,
	.__view-toolbar-hide & {
		padding-bottom: 0 !important;

		> .mm_loading {
			bottom: 0;
		}
	}
	~ mobile */
	
	// 본문 어두운배경 (로그인에서만 사용)
	@at-root .__view-body-dark {
		padding-top: 0;// 헤더 삭제로 적용
		
		& {
			background: #f9f9f9;
		}
		
		.mm_page-content {
			height: 100%;
		}
	}
	
	> .mm_scroller {
		// 스크롤 안됨
		.__popup &,
		.__modal &,
		.__bom &,
		.__noscroll & {
			overflow: hidden;
		}
	}

	/// 페이지 본문
	&-content {
		// @include prefix(flex, 1, webkit ms);
		position: relative;
		padding: 0 20px 100px;
		
		// overlay scrollbars
		.os-content & {
			min-height: 100%;
		}
	}
	///-- 페이지 본문
}
///-- 페이지

/// 로딩
.mm_loading {
	position: absolute;
	z-index: $index-loading;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#fff, 0.1);
	font-size: 0;
	line-height: 1;
	text-align: center;

	.mm_page > & {
		top: $height-header-base;
		bottom: 0;// $height-toolbar-base;
	}

	&-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
	
	p:not(.mm_ir-blind) {
		margin-top: 7px;
		font-size: 14px;
		line-height: 18px;
		white-space: nowrap;
	}
}
///-- 로딩
