@charset 'utf-8';

/**
* color - primary, secondary, tertiary, positive, negative, background, line, text, icon, tag...
* font-size - body, button, tag
**/

/// color
$color-primary-light: #ffcc00;
$color-primary-base: #fa9a11;
$color-primary-dark: #f78408;

$color-secondary-base: #00999d;
$color-secondary-dard: #088589;

$color-tertiary-base: #009d3f;

$color-positive-base: $color-tertiary-base;//$color-primary-base;

$color-negative-light: #fce8e4;
$color-negative-base: #f6664e;

$color-text-base: #202020;

/// font
$font-family-mobile: "NotoSansKR", sans-serif;
$font-family-pc: "NotoSansKR", sans-serif;// ie에서 31자 이상 적용 안됨
$font-family-latin: "Roboto", sans-serif;
$font-family-password: monospace, cursive, sans-serif;
$font-family-base: $font-family-pc;// -mobile, -pc 중 선택 적용

$font-size-base: 10px;

/// z-index
$index-most: 10000;
$index-skip: $index-most;
$index-bom: 3100;
$index-loading: 3000;
$index-modal: 2100;
$index-popup: 2000;
$index-sidebar: 1200;
$index-toolbar: 1100;
$index-header: 1000;
$index-floating: 100;
$index-alert: 10;// 텍스트 경고

/// size
$min-width-mobile: 320px;
$min-width-pc: 1400px;

/// transition sec
$time-base: 0.4s;
$time-fast: 0.2s;
$time-faster: 0.1s;
$time-slow: 0.7s;
$time-slower: 1s;

/// 1px transpatent gif
$image-empty: "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";

/// layout - grid

/// layout - header
$height-header-base: 51px;

/// layout - footer

/// layout - toolbar
// $height-toolbar-base: 53px;

/// layout - sidebar
$width-sidebar-base: 210px;
$width-sidebar-min: 50px;

/// layout - popup

/// layout - modal

/// layout - bom
